@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html{
	font-size: 10px;
	font-family: 'Poppins', serif;
}
html,body{
	height:100%;
}
a{
	color: unset;
}


/*********************** TODO ***********************/
.caja-section{
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 100%;
	padding: 5rem 0;
	overflow: hidden;
	background: lightyellow;
}
.titulo-section{
	position: relative;
	padding: 0.5rem 2rem;
}
.titulo-section h3{
	color: black;
	font-size: 3.5rem;
}
.titulo-section h4{
	color: gold;
	font-size: 2.2rem;
}
.titulo-section>span{
	position: absolute;
	width: 1.8rem;
	height: 1.8rem;
	transition: all 0.8s ease;
}
.titulo-section>span:nth-child(1){
	top: 0;
	left: 0;
	border-top: solid .5rem gold;
	border-left: solid .5rem gold;
}
.titulo-section>span:nth-child(2){
	top: 0;
	right: 0;
	border-top: solid .5rem gold;
	border-right: solid .5rem gold;
}
.titulo-section>span:nth-child(3){
	bottom: 0;
	left: 0;
	border-bottom: solid .5rem gold;
	border-left: solid .5rem gold;
}
.titulo-section>span:nth-child(4){
	bottom: 0;
	right: 0;
	border-bottom: solid .5rem gold;
	border-right: solid .5rem gold;
}
.titulo-section:hover span{
	width: 105%;
	height: 115%;
}
/******************************************************/



/********************* PORTADA ***********************/
.caja-portada{
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-height: 100%;
	padding: 10rem 0;
	overflow: hidden;
	background-image: url(../img/pexels-francesco-ungaro-998641.jpg);
	background-position: center;
	background-size: cover;
}
.caja-portada h1{
	font-family: 'Staatliches', cursive;
	padding-right: 15rem;
	letter-spacing: 1rem;
	height: 12rem;
	font-size: 7rem;
	color: lightyellow;
	transition: all 1.2s linear;
}
.titulo-portada{
	position: relative;
	padding: 2rem;
	transition: all 0.8s ease;
}
.titulo-portada span{
	transition: all 1.5s ease;
	width: 6rem;
	height: 6rem;
	position: absolute;
}
.titulo-portada:hover span{
	width: 300%;
	height: 115%;
}
.titulo-portada:hover{
	padding: 4rem;
}
.titulo-portada:hover h1{
	letter-spacing: .4rem;
	color: gold;
}
.titulo-portada:hover h2{
	letter-spacing: .6rem;
	color: gold;
}
.titulo-portada span:nth-child(1){
	top: 0;
	left: 0;
	border-top: solid .7rem lightyellow;
	border-left: solid .7rem lightyellow;
}
.titulo-portada span:nth-child(2){
	top: 0;
	right: 0;
	border-top: solid .7rem lightyellow;
	border-right: solid .7rem lightyellow;
}
.titulo-portada span:nth-child(3){
	bottom: 0;
	left: 0;
	border-bottom: solid .7rem lightyellow;
	border-left: solid .7rem lightyellow;
}
.titulo-portada span:nth-child(4){
	bottom: 0;
	right: 0;
	border-bottom: solid .7rem lightyellow;
	border-right: solid .7rem lightyellow;
}
.caja-portada h2::before{
	content: '<< ';
	color: gold;
	margin-right: .5rem;
	animation: latido 3s ease infinite;
}
.caja-portada h2::after{
	content: ' >>';
	color: gold;
	margin-left: .5rem;
	animation: latido 3s ease infinite;
}
.caja-portada h2{
	padding-left: 15rem;
	height: 10rem;
	font-size: 5rem;
	color: lightyellow;
	transition: all 1.2s linear;
	display: inline-flex;
	align-items: center;
}
@keyframes latido{
  	50%{
  		font-size: 8rem;
  		text-shadow: .4rem .4rem 1rem rgba(255,215,0, 0.7);
  	}
}
/******************************************************/



/******************** CUBO ************************/
#cubo{
	position: relative;
	width: 20rem;
	height: 20rem;
	margin-right: 10rem;
}
#cubo>p{
	font-family: 'Press Start 2P', cursive;
	position: absolute;
	top: 1.5rem;
	right: 3.5rem;
	width: 5rem;
	font-size: 7rem;
	color: lightyellow;
	opacity: 1;
	transition: all 1s ease;
	animation: latido2 1.5s ease infinite;
}
#cubo:hover>p{
	visibility: hidden;
	opacity: 0;
	top: 3rem;
	right: 7rem;
}
#cubo>span{
	position: absolute;
	width:0;
	height: 0;
	transition: all 1.2s ease;
	top: 0;
	right: 0;
	transform: skew(0,0);
	font-size: 0rem;
	font-weight: 600;
	color: lightyellow;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: unset;
}
#cubo>span:nth-child(1){
	border: .5rem solid lightyellow;
	width: 10rem;
	height: 10rem;
}
#cubo:hover>span:nth-child(1){
	border: .5rem solid lightyellow;
	width: 20rem;
	height: 20rem;
	background-color: rgba(241, 196, 15, 0.35);
	z-index: 1;
	font-size: 3rem;
	color: lightyellow;
}
#cubo>span:nth-child(1):hover{
	background-color: rgba(241, 196, 15, 0.8);
}
#cubo>span:nth-child(2){
	height: 10rem;
	left: 20rem;
	transform: skew(0,-30deg);
}
#cubo:hover>span:nth-child(2){
	top: -2.88675rem;
	border: .5rem solid lightyellow;
	height: 20rem;
	width: 10rem;
	background-color: rgba(26, 188, 156 , 0.35);
	z-index: 1;
	font-size: 3rem;
	color: lightyellow;
}
#cubo>span:nth-child(2):hover{
	background-color: rgba(26, 188, 156 , 0.8);
}
#cubo>span:nth-child(3){
	width: 10rem;
	left: 10rem;
	transform: skew(-60deg,0);
}
#cubo:hover>span:nth-child(3){
	border: .5rem solid lightyellow;
	width: 20rem;
	height: 5.7735rem;
	top: -5.7rem;
	left: 5rem;
	background-color: rgba(155, 89, 182 , 0.35);
	z-index: 1;
	font-size: 2.3rem;
	color: lightyellow;
}
#cubo>span:nth-child(3):hover{
	background-color: rgba(155, 89, 182 , 0.8);
}
#cubo>span:nth-child(4){
	height: 10rem;
	left: 10rem;
	transform: skew(0,-30deg);
}
#cubo:hover>span:nth-child(4){
	top: -10.5rem;
	left: -15rem;
	border-right: .5rem dashed lightyellow;
	border-bottom: .5rem dashed lightyellow;
	height: 32rem;
	width: 25rem;
}
#cubo>span:nth-child(5){
	width: 10rem;
	top: 10rem;
	left: 10rem;
	transform: skew(-60deg,0);
}
#cubo:hover>span:nth-child(5){
	border-top: .5rem dashed lightyellow;
	width: 35rem;
	height: 5.7735rem;
	top: 14rem;
	left: 5rem;
}
#cubo>span>a{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	transition-delay: 0.1s;
	visibility: hidden;
}
#cubo:hover>span>a{
	visibility: visible;
}
@keyframes latido2{
  	50%{
  		font-size: 8rem;
  		color: gold;
  		text-shadow: .4rem .4rem 1rem rgba(255,215,0, 0.8);
  	}
}
/******************************************************/



/******************** PORTAFOLIO **********************/
#portafolio{
	background: lightyellow;
}
.tarjetero{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
#portafolio .titulo-section{
	margin: 2rem auto 8rem;
}
.contenedor-tarjeta{
	width: 35rem;
	height: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tarjeta{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30rem;
	height: 20rem;
	transition: all 0.3s ease;
	border: .4rem solid mediumslateblue;
	border-radius: .6rem;
}
.tarjeta>img{
	width: 25rem;
	height: 25rem;
	margin-top: -15rem;
	border-radius: 1rem;
	z-index: 2;
	box-shadow: .4rem .4rem .8rem rgba(0,0,0,0.5);
}
.info-tarjeta{
	color: black;
	padding: 2.5rem;
	height: 16rem;
	text-align: center;
	visibility: hidden;
	margin-top: -16rem;
	transition: all 0.8s ease;
	opacity: 0;
}
.info-tarjeta p{
	font-family: 'Vollkorn', serif;
	font-size: 1.8rem;
}
.info-tarjeta>h3{
	font-size: 2.5rem;
}
.info-tarjeta>h4{
	font-family: 'Vollkorn', serif;
	font-size: 1.8rem;
}
.info-tarjeta>div{
	display: flex;
	justify-content: space-between;
}
.icono-texto:hover{
	text-shadow: .2rem .2rem .3rem rgba(0,0,0,0.5);
	transform: translate(-2px,-4px);
}
.icono-texto:hover svg{
	fill: mediumslateblue;
}
.icono-texto:hover path{
	fill: mediumslateblue;
}
.tarjeta:hover{
	height: 36rem
}
.tarjeta:hover .info-tarjeta{
	visibility: visible;
	margin-top: 0px;
	opacity: 1;
}
.icono-texto{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
}
/******************************************************/



/******************** SOBRE MI ************************/
#sobre-mi{
	justify-content: flex-start;
}
#sobre-mi h3, #sobre-mi h4{
	color: rgb(26, 188, 156);
}
#sobre-mi h4{
	font-size: 2.5rem;
}
#sobre-mi h5{
	font-size: 2rem;
	font-style: italic;
}
#sobre-mi p{
	text-align: justify;
	font-family: 'Vollkorn', serif;
	font-size: 1.8rem;
	word-spacing: 0.5rem;
}
#sobre-mi img{
	width: 80%;
}
#quien-soy{
	padding: 3rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
#quien-soy>div:nth-child(1){
	width: 40%;
	padding: 3rem;
}
#quien-soy>div:nth-child(2){
	width: 60%;
	padding: 3rem;
}
#quote, #descarga-cv{
	width: 60%;
	border-top: 2px solid gold;
	border-bottom: 2px solid gold;
	padding: 2rem;
}
#quote>p:nth-child(2){
	text-align: right;
	width: 100%;
}
#estudios{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 5rem;
}
#estudios p{
	font-size: 1.6rem;
	width: 50%;
	text-align: center;
}
#descarga-cv p{
	width: 100%;
	text-align: center;
}
#descarga-cv h4{
	transition: all 0.3s ease;
}
#descarga-cv a:hover>h4{
	text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	transform: translate(-2px,-4px);
}
/******************************************************/



/******************** CONTACTO ************************/
#contacto{
	min-height: 70%;
}
#contacto h3{
	color: mediumslateblue;
}
#contacto .formulario {
  position: relative;
  z-index: 3;
  background: #000;
  max-width: 60rem;
  margin: 2rem auto 0;
  padding: 4rem;
  width: 90%;
}
#contacto .formulario .formulario-contacto .input-group {
  position: relative;
  margin-bottom: 3.2rem;
}
#contacto .formulario .formulario-contacto .input-group input[type="text"],
#contacto .formulario .formulario-contacto .input-group input[type="email"],
#contacto .formulario .formulario-contacto .input-group textarea {
  font-family: 'Vollkorn', serif;
  font-size: 1.6rem;
  color: lightyellow;
  width: 100%;
  outline: none;
  padding: 1.5rem 0;
  background: none;
  border: none;
  border-bottom: 2px solid mediumslateblue;
  vertical-align: top;
}
#contacto .formulario .formulario-contacto .input-group input[type="text"]:focus,
#contacto .formulario .formulario-contacto .input-group input[type="email"]:focus,
#contacto .formulario .formulario-contacto .input-group textarea:focus {
  border-bottom: 3px solid mediumslateblue;
}
#contacto .formulario .formulario-contacto .input-group textarea {
  max-width: 100%;
  max-height: 16rem;
  min-height: 8rem;
  min-width: 100%;
}
#contacto .formulario .formulario-contacto .input-group label {
  color: lightyellow;
  font-family: 'Poppins', serif;
}
#contacto .formulario .formulario-contacto .input-group label.label {
  position: absolute;
  top: 1.6rem;
  left: 0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-left: 1.6rem;
  transition: all 0.3s ease;
}
#contacto .formulario .formulario-contacto .input-group label.label.active {
  top: -1.2rem;
  margin-left: 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: mediumslateblue;
}
#contacto .formulario .formulario-contacto .input-group .error {
  position: absolute;
  color: #ff3b3b;
  font-family: 'Poppins', serif;
  font-size: 1.2rem;
}
#contacto .formulario .formulario-contacto input[type="submit"] {
  font-family: 'Poppins', serif;
  background: mediumslateblue;
  color: gold;
  border-radius: 2px;
  border: 2px solid mediumslateblue;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 4.5rem;
  padding: 1.5rem;
  width: 30%;
  outline: none;
  transition: all 0.3s ease;
  font-size: 1.8rem;
}
#contacto .formulario .formulario-contacto input[type="submit"]:hover {
  transform: translate(-3px, -3px);
  box-shadow: 2px 2px 8px mediumslateblue;
}
/******************************************************/



/*********************** FOOTER ***********************/
footer{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	color: gold;
	background: black;
	width: 100%;
	min-height: 9rem;
	text-align: center;
	padding: 1rem 0.5rem;
}
/******************************************************/



/*********************** MENU *************************/
#menu{
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	padding: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}
#btn-menu{
	position: absolute;
	font-size: 10px;
	z-index: 0;
	transition: all 0.8s ease;
	transition-delay: 0.3s;
	cursor: pointer;
}
#btn-menu:hover>span{
	height: 5.5rem;
	width: 5.5rem;
}
#btn-menu:hover{
	transform: translate(4px, 4px);
}
.btn-oculto{
	height: 0;
	width: 0;
	top: 5rem;
	left: 5rem;
}
.btn-oculto>span{
	height: 0rem;
	width: 0rem;
}
.btn-normal{
	height: 3rem;
	width: 3rem;
	top: 5rem;
	left: 5rem;
}
.btn-normal>span{
	height: 5rem;
	width: 5rem;
}
#btn-menu span{
	position: absolute;
	transition: all 1s ease;
}
#btn-menu span:nth-child(1){
	top: 0;
	left: 0;
	border-top: solid .5rem mediumslateblue;
	border-left: solid .5rem mediumslateblue;
}
#btn-menu span:nth-child(2){
	top: 0;
	right: 0;
	border-top: solid .5rem mediumslateblue;
	border-right: solid .5rem mediumslateblue;
}
#btn-menu span:nth-child(3){
	bottom: 0;
	left: 0;
	border-bottom: solid .5rem mediumslateblue;
	border-left: solid .5rem mediumslateblue;
}
#btn-menu span:nth-child(4){
	bottom: 0;
	right: 0;
	border-bottom: solid .5rem mediumslateblue;
	border-right: solid .5rem mediumslateblue;
}
#lista-menu{
	transition: all 0.8s ease;
	box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
	padding: 5rem 2rem;
	background: white;
	font-size: 4rem;
	color: black;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease;
	position: relative;
	overflow: hidden;
	transition: all 0.4s ease;
}
#lista-menu>a{
	transition: all 0.4s ease;
	margin: 1rem;
}
#lista-menu>div, .links-contacto{
	display: flex;
	min-width: 50%;
	justify-content: space-around;
	align-items: center;
	transition: all 0.4s ease;
	margin: 3rem 0 0 0;
}
#lista-menu>a:hover{
	color: mediumslateblue;
	font-weight: bold;
}
.btn-cerrar{
	position: absolute;
	top: 2rem;
	right: 4rem;
}
.lista-oculta{
	visibility: hidden;
	width: 0;
	height: 0;
	opacity: 0;
}
.lista-visible{
	visibility: visible;
	opacity: 1;
	width: 50rem;
	max-width: 80%;
	max-height: 100%;
}
/******************************************************/


/******************* Media QUERYS *********************/
@media all and (max-width: 999px){
	html{
		font-size: 8px;
	}
	.titulo-portada h1{
		padding-right: 10rem;
	}
	.titulo-portada h2{
		padding-left: 10rem;
	}
	@keyframes latido{
	  	50%{
	  		font-size: 7rem;
	  		text-shadow: .4rem .4rem 1rem rgba(255,215,0, 0.7);
	  	}
	}
}
@media all and (max-width: 767px){
	#quien-soy>div:nth-child(1){
		width: 80%;
		padding: 3rem;
	}
	#quien-soy img{
		max-width: 360px;
		min-width: 200px;
		padding: 3rem;
	}
	#quien-soy>div:nth-child(2){
		width: 90%;
		padding: 3rem;
	}
	.titulo-portada h1{
		padding-right: 7rem;
		font-size: 5rem;
	}
	.titulo-portada h2{
		font-size: 3.5rem;
		padding-left: 7rem;
	}
	.titulo-portada:hover{
		padding: 2rem;
	}
	.titulo-portada:hover h1{
		letter-spacing: .3rem;
		color: gold;
	}
	.titulo-portada:hover h2{
		letter-spacing: .4rem;
		color: gold;
	}
	@keyframes latido{
	  	50%{
	  		font-size: 6rem;
	  		text-shadow: .3rem .3rem 1rem rgba(255,215,0, 0.7);
	  	}
	}
}
@media all and (max-width: 500px){
	html{
		font-size: 7px;
	}
	.info-tarjeta{
		padding-top: 10px;
	}
	.titulo-portada h1{
		padding: 0;
		font-size: 4rem;
	}
	.titulo-portada h2{
		padding: 0;
		font-size: 3rem;
	}
	.titulo-portada:hover{
		padding: 1rem;
	}
	.titulo-portada:hover h1{
		color: gold;
	}
	.titulo-portada:hover h2{
		color: gold;
	}
	@keyframes latido{
	  	50%{
	  		font-size: 4rem;
	  		text-shadow: .3rem .3rem 1rem rgba(255,215,0, 0.7);
	  	}
	}
}
/******************************************************/
